@mixin tag-variant($bg-color:$color-default) {
  background: $bg-color;
  &:hover {
    background: lighten($bg-color, 10%);
  }
  &:active {
    background: darken($bg-color, 5%);
  }
}

// for vue transition component
@mixin vue-transition-fade($duration:.5s) {
  .fade-enter-active, .fade-leave-active {
    transition: opacity $duration;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}